@font-face {
	font-family: supermilk;
	src: url(../public/Super-Milk.ttf);
}

.App {
      max-width: 860px;
      margin: 0 auto;
      min-height: 100vh;
      text-align:center;
      padding: 1rem;
      padding-right: 0.5rem;
      color: black;
    }
    .header-play{
      display: flex;
      flex-direction: line;
      justify-content: space-around;
      padding: 0;
    }
    .turns {
      font-family: supermilk;
      color: #F4FFB2;
    }
    button {
      background-color: transparent;
      border: none;
    }
    .card-grid {
        padding-right: 5.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        grid-template-rows: 12rem 12rem;

    }
    .game-complete {
      background-color: white;
      border: 2px solid black;
      padding: 20px;
      text-align: center;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 400px; /* Largura max da tela */
      z-index: 999; 
  }

  /*botão "Play Again" */
  .play-again-button {
      background-color: black;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border: 2px solid black;
      cursor: pointer;
  }